body{
    margin: 0;
    padding: 0;
    background-color: rgba(194, 194, 194, 0.829);
    font-family: sans-serif;
    
}
nav{
    grid-area: nav;
    background-color: #142170b6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100vw;
}
aside{
    grid-area: aside;
    width: 20vw;
    height: 90vh;
}
section{
    grid-area: section;
    height: 90vh;
    width: 80vw;
    text-align: center;
}
footer{
    grid-area: footer;
    background-color:white;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
}
.grid-container{
display: grid;
grid-template-areas: 
"nav nav"
"aside section"
"footer footer";
}
.grid-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 10px ;
}
.grid-item{
    width: 300px;
    border: 1px solid #ccc;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    
}

.categorias{
    flex-direction: column;
    list-style: none;
}
.p1{
    list-style: none;
    display: flex;
}
.p2{
    list-style: none;
}
.p3{
    color: gray;
}

button{
    display: flex;
    justify-content: center;
    align-items: end;
    background-color:#142170b6;
    width: 100%;
    height: 15%;
    color: white;
    align-content: end;
    padding-left: 30px;
    padding-right: 30px;
    padding: 1em 1em;
}